<table>
	<tr>
		<td  style="text-align: left;"><label class="rem">Número de preguntas:</label></td>
        <td> <%= cantidadPreg %> </td>
	</tr> 
	<tr>
		<td  style="text-align: left;"><label class="rem">Número de comentarios totales:</label></td>
        <td><%= cantidadCom %></td>
	</tr> 
	<tr>
		<td style="text-align: left;"><label class="rem">Número medio de comentarios por pregunta:</label></td>
        <td><%= numeroMedioPregCom %></td>
	</tr> 
	<tr>
		<td style="text-align: left;"><label class="rem">Número de preguntas sin comentarios:</label></td>
        <td><%= numeroPreSinCom %></td>
	</tr> 
	<tr>
		<td style="text-align: left;"><label class="rem">Número de preguntas con comentarios:</label></td>
        <td><%= numeroPreConCom %></td>
	</tr> 
</table>